<%- include('../layouts/admin/header.ejs') %>


    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <%- include('../layouts/admin/sidebar.ejs') %>

                <!-- / Menu -->

                <!-- Layout container -->
                <div class="layout-page">
                    <!-- Navbar -->

                    <%- include('../layouts/admin/navbar.ejs') %>


                        <!-- Bootstrap CSS -->
                        <link rel="stylesheet"
                            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                            crossorigin="anonymous">


                        <section class="h-100 gradient-custom">
                            <div class="container py-5 h-100">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-lg-10 col-xl-8">
                                        <div class="card" style="border-radius: 10px;">
                                            <div class="card-header px-4 py-2">
                                                <h5 class="text-muted mb-0">Order details <span
                                                        style="color: #a8729a;"></span></h5>
                                            </div>
                                            <div class="card-body p-4">
                                                <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                                                    <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                                                </div> -->

                                                <% orderData.product.forEach((product, index)=> { %>

                                                    <div class="card shadow-0 border mb-3">
                                                        <div class="card-body">
                                                            <div class="row align-items-center">
                                                                <div class="col-md-2 text-center">
                                                                    <img src="/productImages/<%= product.productId.image[0] %>"
                                                                        class="img-fluid" alt="img">
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <p class="text-muted mb-0">
                                                                        <%= product.productId.name %>
                                                                    </p>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <p class="text-muted mb-0 small">Quantity: <%=
                                                                            product.quantity %>
                                                                    </p>
                                                                </div>
                                                                <div class="col-md-4 text-center">
                                                                    <p class="text-muted mb-0 small">
                                                                        <%= product.singleTotal %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <% }); %>



                                                        <div class="d-flex justify-content-between pt-2">
                                                            <p class="fw-bold mb-0">Order Details</p>
                                                            <!-- <p class="text-muted mb-0"><span
                                                        class="fw-bold me-4">Discount</span> <%=orderData.discount %>
                                                </p> -->
                                                        </div>

                                                        <div class="d-flex justify-content-between pt-2">
                                                            <p class="text-muted mb-0">Order Id : <%= orderData.orderId
                                                                    %>
                                                            </p>

                                                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>
                                                        <%= orderData.total %>
                                                    </p> -->
                                                        </div>

                                                        <div class="d-flex justify-content-between pt-2">
                                                            <p class="text-muted mb-0">Order Date: <%=
                                                                    orderData.date.toLocaleString('en-us', {
                                                                    day: '2-digit' , month: '2-digit' , year: '2-digit'
                                                                    }) %>
                                                            </p>
                                                        </div>

                                                        <div class="d-flex justify-content-between pt-2">
                                                            <p class="text-muted mb-0">Payment Type: <%=
                                                                    orderData.payementType %>
                                                            </p>
                                                        </div>


                                            </div>
                                            <div class="card-footer border-0  "
                                                style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                                <h5
                                                    class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                                    Total:
                                                    <span class="h5 mb-0 ms-2">
                                                        <%= orderData.total %>
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <%- include('../layouts/admin/footer.ejs') %>