
<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>





		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60 m-t-100 ">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="/ProductImages/<%=Data.image[0]%>">
									<div class="wrap-pic-w pos-relative">
										<img class="big_img" src="/ProductImages/<%=Data.image[0]%>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/ProductImages/<%=Data.image[0]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="/productImages/<%= Data.image[1]%>">
									<div class="wrap-pic-w pos-relative">
										<img class="big_img" src="/ProductImages/<%=Data.image[1]%>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/ProductImages/<%=Data.image[1]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="/ProductImages/<%=Data.image[2]%>">
									<div class="wrap-pic-w pos-relative">
										<img class="big_img" src="/ProductImages/<%= Data.image[2]%>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/productImages/<%=Data.image[2]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						 <%= Data.name  %>
						</h4>

						<span class="mtext-106 cl2">
					     <%= Data.price %>
						</span>

						<p class="stext-102 cl3 p-t-23">
                            <%= Data.description%>					
                        </p>
						
						<!--  -->
						<div class="p-t-33">
							

							

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									

								<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 " 
								onclick="addToCart('<%= Data._id %>','<%=Data.price %>')">
										Add to cart
									</button>
									
									
								</div>
							</div>	
						</div>

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">

							
							<div class="flex-m bor9 p-r-10 m-r-11">
								<button  class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"  onclick="addtowishlist('<%= Data._id %>')" data-tooltip="Add to Wishlist">
									<i class="zmdi zmdi-favorite" ></i>
								</button>
							</div>

							<div  class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  ">
							
									<i style="color: rgb(33, 31, 31);" class="zmdi zmdi-favorite-outline"> </i>
									</a>
							
									</div>



<!-- 

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a> -->
						</div>
					</div>
				</div>
			</div>

			
		</div>

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25">
				
			</span>

			<span class="stext-107 cl6 p-lr-25">
				Categories:  <%= Data.category%>	
			</span>
		</div>
	</section>





	<script>
		function addtowishlist(proid){
			
			$.ajax({
				url:'/addtowishlist',
				data:{
					productId:proid
				},
				
				method:"post",
				
				success:(response)=>{
					
					console.log(response)
				}
				
			})
		}
	</script>


	

	<script>
		function addToCart(proid, price) {
			$.ajax({
				url: "/addtocart",
				data: {
					productId: proid,
					price: price
				},
				method: 'post',

				success: (response) => {
					if (response.success) {
						$('#reloadDiv').load('/wishlist #reloadDiv')
				       // product added to cart
					   Swal.fire({
                                    icon: "success",
                                    title: "Product added to cart",
                                    showConfirmButton: false,
                                    timer: 1500,
                                });
					} else {
						// product already in cart
						Swal.fire({
							icon: "info",
							title: "Product already in cart",
							showConfirmButton: false,
							timer: 1500,
						});
					}
				},
				error: (xhr, status, error) => {
					console.log(error);
				},
			});
		}

	</script>



    <%- include('../layouts/user/footer.ejs') %>